@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body,html {
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-size: 62.5%;
    font-family: inter, helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.navbar {
    background-color: blue;
    font-size: 2rem;
    padding: 8px;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}
